{% load static %}
<div>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="#" style="padding-left: 20px">
        <img src="{% static 'lab_4/images/Logo.png' %}" width="40" height="40" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAlt">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAlt">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/#home">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#rec">TRACK RECORDS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#contacts">CONTACTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'schedules' %}">SCHEDULES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lab_7:portfolio' %}">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lab_8:book_list' %}">BOOKS</a>
                </li>
            </ul>
        </div>
    </nav>
</div>