{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'lab_4/css/styles.css'%}"/>

    <title>Rhendy Rivaldo</title>
  </head>
  
  <body data-spy="scroll" data-target=".navbar" data-offset="50">
    {% include "base.html" %}
    <div id="home" class="bg_main">
      <div class="container text-center centered">
        <div class="row">
          <div class="col-md-6">
            <div>
              <h1 class="title_white">Hello World!</h1>
            </div>
            <div class="parag_white">
              <p>Welcome to my first ever website! You are going to know more about me here. 
                Hope you like this website, enjoy!</p>
            </div>
          </div>
          <div class="col-md-6 resp_img">
            <div style="text-align: center">
              <img src="{% static 'lab_4/images/main_compboy.png' %}" class="img-responsive alt="Yeah!">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="about" class="bg_about">
      <div class="container centered">
        <div class="row abt_pad">
          <div class="col-md-6">
            <div>
              <h1 class="title_black">ABOUT ME</h1>
            </div>
            <div class="parag_black">
              <p><br>My name is Rhendy. I was born in Temanggung, March 30th 1999, so I am 20 now. I am the first child of three, and I am currently a student of the Faculty of Computer Science, Universitas Indonesia.</p>
              <p>I like to play videogames, and I really love to watch movies, especially mystery-thriller or horror movies. I also like comedies, it can make the audience’s life more colorful.</p>
            </div>
          </div>
          <div class="col-md-6 resp_img">
            <div style="text-align: center">
              <img src="{% static 'lab_4/images/MyPhoto1.jpg' %}" class="img-thumbnail img-responsive myphoto" alt="Me">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="rec" class="bg_records">
      <div class="container centered">
        <div>
          <h1 class="title_white" style="text-align: right; padding-top: 20px">MORE OF ME</h1>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div>
              <h4 style="text-align: center; padding-top: 20px">EDUCATION</h4>
            </div>
            <div class="rec_small_bg">
              <div class="centered">
                <p>
                  TK Pelita Hati <br>(2002-2005)<br><br>
                  SD Pelita Hati <br>(2005-2011)<br><br>
                  SMP St. Bellarminus <br>(2011-2014)<br><br>
                  SMAN 3 Jakarta <br>(2014-2017)<br><br>
                  Faculty of Computer Science, <br>Universitas Indonesia <br>(2017-present)
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <h4 style="text-align: center; padding-top: 20px">ORGANIZATION</h4>
            </div>
            <div class="rec_small_bg">
              <div class="centered">
                <p>
                  Departemen Kajian dan Aksi Strategis<br>
                  BEM Fasilkom UI 2018<br><br>
                  Departemen Keuangan Keluarga Mahasiswa Buddhis (KMBUI) XXVI
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <h4 style="text-align: center; padding-top: 20px">COMMITTEE</h4>
            </div>
            <div class="rec_small_bg">
              <div class="centered">
                <p>
                  25th Computers Get Together<br><br>
                  Wisuda Genap Fasilkom UI 2018<br><br>
                  Pemilihan Raya Fasilkom UI 2018<br><br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="contacts" class="bg_contacts">
      <div class="container centered">
        <div>
            <h1 class="title_black" style="text-align: center">CONTACTS</h1>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="cont_mrg">
              <ul style="list-style-type: none">
                <li class="thumb_margin">
                  <img class="socmed_thumbnailg" src="{% static 'lab_4/images/gmail.png' %}">
                </li>
                <li class="thumb_margin">
                  <img class="socmed_thumbnail" src="{% static 'lab_4/images/insta.png' %}">
                </li>
                <li class="thumb_margin">
                  <img class="socmed_thumbnail" src="{% static 'lab_4/images/line.png' %}">
                </li>
                <li class="thumb_margin">
                  <img class="socmed_thumbnail" src="{% static 'lab_4/images/whatsapp.png' %}">
                </li>
              </ul>
            </div>
            <div class="cont_mrg socmed_list">
              <ul style="list-style-type: none">
                <li class="parag_blacksoc">rhendyrvld@gmail.com</li>
                <li class="parag_blacksoc">rhendyrivaldo</li>
                <li class="parag_blacksoc">rhendyrivaldo</li>
                <li class="parag_blacksoc">0857 8890 0014</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>