{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/8f7ecc8fdd.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'lab_4/css/styles.css'%}"/>

    <title>Schedules</title>

    <style>
      #redir_list{
        color: #ffffff;
      }
    </style>
  </head>

  <!-----------------------------------------Schedule List--------------------------------------------->
  <body class="bg_sched">
    {% include 'base.html' %}
    <div class="container montserrat_font">
      <h1 class="title_white" style="margin-top: 90px">Schedule List</h1>
        <div class="table-responsive">
          <table id='schedules' class="table table-striped table-light" style="margin-top: 40px">
            <thead>
              <tr>
                  <th scope="col">Kegiatan</th>
                  <th scope="col">Tanggal</th>
                  <th scope="col">Hari</th>
                  <th scope="col">Jam</th>
                  <th scope="col">Tempat</th>
                  <th scope="col">Kategori</th>
              </tr>
            </thead>
            <tbody>
              {% if table %}
                {% for schedule in table %}
                <tr>
                  <th scope="row">{{ schedule.nama_kegiatan }}</th>
                  <td>{{ schedule.tanggal }}</td>
                  <td>{{ schedule.hari }}</td>
                  <td>{{ schedule.jam }}</td>
                  <td>{{ schedule.tempat }}</td>
                  <td>{{ schedule.kategori }}</td>
                  <td><a href="{% url 'deleteschedule' idnum=schedule.id %}"><i class="fas fa-minus-circle"></i></a></td>
                </tr>
                {% endfor %}
              {% else %}
                <td colspan="6">There are currently no schedule planned</td>
              {% endif %}
            </tbody>
        </table>
      </div>
      <div style="padding-bottom:200px">
        <a class="btn btn-info float-right" id="redir_list" href="{% url 'schedules' %}">Add schedule</a>
      </div>
    </div>
  </body>
</html>