{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script src="{% static 'lab_7/js/actions.js' %}"></script>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="{% static 'lab_7/css/styles.css'%}"/>
        <title>Portfolio</title>
    </head>
    
    <body class="bg_prtf">
        {% include "base.html" %}
        <!-- <div class="container montserrat_font">
            <div class="row">
                <div class="col-md-12" style="margin-top: 95px; margin-bottom: 95px;">
                    <h1 class="title_white prtf_h1">A Little Portfolio</h1>
                    <a class="btn btn-primary float-right" id="btn-mode">Default theme</a>
                </div>
            </div>
        </div> -->
        <div class="container1" style="margin: 120px auto">
            <div>
                <a class="btn btn-primary small-btn-text float-right" id="btn-mode">Default theme</a>
            </div>
            <div class="accordiontitle" style="margin-bottom: 50px">
                <h1 class="title_white">A Little Portfolio</h1>
            </div>
            <div class="accordionhead">
                <a href=#>Aktivitas</a>
                <div class="content">
                    <ul style="list-style: none;">
                        <li>PPW</li>
                        <li>POK</li>
                        <li>Banjut</li>
                    </ul>
                </div>
            </div>
            <div class="accordionhead">
                <a href=#>Pengalaman Organisasi/Kepanitaan</a>
                <div class="content">
                    <ul style="list-style: none;">
                        <li>25th Computers Get Together</li>
                        <li>Departemen Keuangan KMBUI XXVI</li>
                        <li>Departemen Kajian dan Aksi Strategis BEM Fasilkom UI 2018</li>
                        <li>Wisuda Genap Fasilkom UI 2018</li>
                        <li>Pemilihan Raya Fasilkom UI 2018</li>
                    </ul>
                </div>
            </div>
            <div class="accordionhead">
                <a href=#>Prestasi</a>
                <div class="content">
                    <ul style="list-style: none;">
                        <li>Coming Soon</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>