  html, body {
    height: 100%;
    margin: 0;
    position: relative;
    scroll-behavior: smooth;
  }

  h4 {
    text-align: center;
    font-family: 'Montserrat';
    color: #ffffff;
  }

  a {
    font-family: 'Montserrat';
    color: #777777;
  }

  button{
    margin-left: 10px;
  }

  .parag_black {
    font-family: 'Montserrat';
    font-size: 20px;
    color: #000000;
  }

  .montserrat_font {
    font-family: 'Montserrat';
  }

  .parag_white {
    font-family: 'Montserrat';
    font-size: 22px;
    color: #ffffff;
  }

  .title_black {
    font-family: 'Montserrat';
    font-weight: bold;
    color: #000000;
  }

  .title_white {
    font-family: 'Montserrat';
    font-weight: bold;
    color: #ffffff;
  }

  .myphoto {
    width: 350px;
    height: 370px;
  }

  .bg_main {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(../images/bg_main.jpg);
    background-size: 100% 100%;
  }

  .centered {
    margin: auto;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .bg_about {
    position: relative;  
    width: 100%;
    height: 100%;
    background-image: url(../images/bg_about.png);
    background-size: 100% 100%;
  }

  .abt_pad {
    padding-left: 50px;
  }

  .bg_records {
    position: relative;         
    width: 100%;
    height: 110%;
    background-color: #a971d6;
    background-size: 100% 100%;
  }

  @media only screen and (max-width: 770px) {
    .bg_main {
        margin-top: 66px;
    }
    .bg_records {
        position: relative;         
        width: 100%;
        height: 1550px;
        background-color: #763a77;
        background-size: 100% 100%;
    }
    .resp_img {
        margin-top: 50px;
    }

    .bg_about {
      position: relative;  
      width: 100%;
      height: 1200px;
      background-image: url(../images/bg_about.png);
      background-size: 100% 100%;
    }

    .abt_pad {
      padding-left: 0px;
    }

    .cont_mrg {
      margin-right: 0px;
    }
  }

  .bg_contacts {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg_contact.jpg);
    background-size: 100% 100%;
  }

  .cont_mrg {
    margin-right: 40px;
  }

  .socmed_list {
    margin-left: 55px;
    margin-top: -270px;
  }

  .socmed_thumbnailg {
    height: 30px;
    width: 45px;
    vertical-align: middle;
  }

  .socmed_thumbnail {
    height: 45px;
    width: 45px;
    vertical-align: middle;
  }

  .thumb_margin {
    margin-top: 30px;
  }
  .parag_blacksoc {
    margin-bottom: 50px;
    font-family: 'Montserrat';
    font-size: 15px;
    color: #000000;
  }

  .rec_small_bg {
    background-color:#e6e6fa;
    border-radius: 25px;
    text-align: center;
    width: 100%;
    height: 400px;
    font-family: 'Montserrat';
    box-shadow: 0px 0px 5px 3px #e6e6fa;
  }

  .bg_sched {
    background-color:  #92ddc8;
  }